/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
fonts
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Monofett', cursive;
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Monofett');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
twitter bootstrap css framework
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
color palette
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --night: #0b0c10;
  --slate: #1f2833;
  --dull: #c5c6c7;
  --white-tee: #eaeef2;
  --energy: #66fcf1;
  --stain: #45a29e;

  --welcome:
  0 0.1vmin 0 hsl(174, 5%, 80%),
  0 0.2vmin 0 hsl(174, 5%, 75%),
  0 0.3vmin 0 hsl(174, 5%, 70%),
  0 0.4vmin 0 hsl(174, 5%, 66%),
  0 0.5vmin 0 hsl(174, 5%, 64%),
  0 0.6vmin 0 hsl(174, 5%, 62%),
  0 0.7vmin 0 hsl(174, 5%, 61%),
  0 0.8vmin 0 hsl(174, 5%, 60%),

  0 0 0.5vmin rgba(0, 0, 0, 0.3),
  0 0.1vmin 0.3vmin rgba(0, 0, 0, 0.2),
  0 0.3vmin 0.5vmin rgba(0, 0, 0, 0.2),
  0 0.5vmin 1vmin rgba(0, 0, 0, 0.2),
  0 1vmin 1vmin rgba(0, 0, 0, 0.2),
  0 2vmin 2vmin rgba(0, 0, 0, 0.05);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
main style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--night);
  font-family: 'IBM Plex Sans', sans-serif;
  /* Found on CSS-TRICKS
  https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

textarea {
  min-height: 200px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
styles applied to multi
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about,
.contact,
.game-create,
.game-edit,
.game-view,
.session,
.profile {
  min-height: 100vh;
  width: 100vw;
}

.about > a, .game-create > a, .game-view > a {
  visibility: hidden;
}

.about > .container > .row > h1, .game-view > .container > .row > h1, .session > h1 {
  font-weight: bold;
  position: relative;
  margin: 2.2em 0.3em 2.4em;
  text-align: center;
}

.profile > .container > .row > h1 {
  text-shadow: var(--welcome);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
navbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar, .dropdown-menu {
 background: rgba(11, 12, 17, 0.47);
}

.dropdown-menu {
  margin-top: 0.5rem;
}

.dropdown-divider {
  border-color: var(--dull);
}

.dropdown-item, .nav-link {
  color: var(--white-tee) !important;
  -moz-transition-duration: 1200ms;
  -o-transition-duration: 1200ms;
  -webkit-transition-duration: 1200ms;
  transition-duration-duration: 1200ms;
}

.dropdown-item:hover, .nav-link:hover {
  background: none;
  color: var(--energy) !important;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}

.navbar-brand {
  background: var(--energy);
  border-radius: 5px;
  color: var(--night) !important;
  font-family: 'Monofett', cursive;
  font-size: 32px;
  line-height: 1.4em;
  margin: 0;
  padding: 0 10px;
}

.navbar-brand:hover {
  transform: scale(0.98);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
header, carousel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel-inner > div > img {
  height: 100vh;
  /* prevents image distortion */
  object-fit: cover;
  object-position: 50% 50%;
}

.carousel-indicators .active {
  background: var(--energy);
}

.carousel-indicators li {
  background: var(--dull);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
session (login / signup)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.session {
  background: var(--white-tee);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.session > form {
  background: var(--night);
  color: var(--white-tee);
}

.session > a, .about > a {
  /* margin: 2em 0; */
  max-width: 480px;
  margin: 2em 0 5em;
  padding: 0 1em;
}

.session > a > span {
  text-decoration: underline;
}

.session-error {
  color: #ff0000;
  margin-bottom: 0.5em;
  text-align: center;
}

.login-hidden-row {
  visibility: hidden;
}


/* all form button style
---------------------------------------- */

.btn {
  color: var(--white-tee);
}

.btn:hover {
  color: var(--night);
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  color: var(--night);
  background-color: var(--energy);
  border-color: var(--energy);
}

button.btn.btn-primary {
  width: 100%;
  background: var(--stain);
  border-color: var(--stain);
  margin-top: 0.5em;
  /* horizontal | vertical | blur | optional spread | color */
  -webkit-box-shadow: 0 3px 4px 1px var(--energy);
  -moz-box-shadow: 0 3px 4px 1px var(--energy);
  box-shadow: 0 3px 4px 1px var(--energy);
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
}

button.btn.btn-primary:active {
  /* background: var(--stain) !important;
  border-color: var(--stain) !important; */
  transform: translate(0, 2px);
}

button.btn.btn-primary:hover {
  background: var(--energy);
  border-color: var(--energy);
  -webkit-box-shadow: 1px 3px 3px 1px var(--stain);
  -moz-box-shadow: 1px 3px 3px 1px var(--stain);
  box-shadow: 1px 3px 3px 1px var(--stain);
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
game view(all)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* .game-view {} */

.game-view-background {
  height: 500%;
  width: 500%;
  position: absolute;
  left: -250%;
  top: -474%;
  background: var(--energy);
  transform: rotate(-2.3deg);
  /* horizontal | vertical | blur | optional spread | color */
  -webkit-box-shadow: 0 3px 4px 1px var(--slate);
  -moz-box-shadow: 0 3px 4px 1px var(--slate);
  box-shadow: 0 3px 4px 1px var(--slate);
}

.game-view > .container {
  max-width: 900px;
}

.game-view > .container > .row > h1 {
  position: relative;
}

.game-view > .container > .row.cards {
  background: rgba(197, 198, 199, 0.1);
  border-radius: 5px;
  margin: 0 0 10px 0;
  /* horizontal | vertical | blur | optional spread | color */
  -webkit-box-shadow: 0 3px 2px var(--slate);
  -moz-box-shadow: 0 3px 2px var(--slate);
  box-shadow: 0 3px 2px var(--slate);
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
}

.game-view > .container > .row > .col-md-5.hv {
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px 10px;
}

.game-view > .container > .row > .col-md-5 > img {
  height: 240px;
  width: 320px;
  margin: 15px;
  /* prevents image distortion */
  object-fit: cover;
  object-position: 50% 50%;
}

.game-view > .container > .row > .col-md-7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-view > .container > .row > .col-md-7 > .row {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.game-view > .container > .row > .col-md-7 > .row > h1 {
  cursor: pointer;
  /* Found on CSS-TRICKS
  https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.game-view > .container > .row > .col-md-7 > .row > p {
  cursor: pointer;
  margin-bottom: 0.2em;
}

.game-view-comments-button {
  width: 98px;
  background: var(--night);
  border: 10px solid var(--night);
  border-radius: 5px;
  color: var(--white-tee);
}

.comment-divider {
  height: 1px;
  width: 100%;
  background: var(--slate);
}

.game-view-comments span {
  height: 32px;
  width: 42px;
  background: var(--night);
  border-radius: 5px;
  margin: 0.8em 0 1.7em;
  margin-left: calc(100% - 2.6em);
  align-items: center;
  display: flex;
  justify-content: center;
}

.game-view-comments > div > form {
  margin-bottom: 18px;
}
.fa-minus {
  color: var(--energy);
  font-size: 1.7em;
}

.game-view-user-comments {
  margin-left: 15px;
}

.game-view-user-comments:last-child {
  margin-bottom: 15px;
}

.game-view-user-comments:nth-child(even) {
  width: calc(100% - 30px);
  background: rgba(197, 198, 199, 0.2);
}

.game-view-user-comments > .col-md > p {
  margin: 0;
  padding: 15px;
}

.modal-content > .modal-header {
  background: var(--slate) !important;
  color: var(--energy) !important;
  padding: 20px;
}

.modal-content > .modal-body {
  background: var(--white-tee) !important;
  color: var(--night) !important;
  padding: 20px 25px;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-header > p {
  margin-bottom: 0.2em;
}

.modal-title {
  /* Found on CSS-TRICKS
  https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.modal-body {
  /* Found on CSS-TRICKS
  https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.fa-times {
  color: var(--energy);
  font-size: 1.3em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
game view(single)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* .game-view {} */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
user profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* .profile {} */

.edit-delete-button > .col-md {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-edit, .fa-trash-alt {
  color: var(--stain);
  font-size: 2.3em;
}

.fa-trash-alt {
  color: firebrick;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
game add/create
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.game-create {
  background: var(--white-tee);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
game edit
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.game-edit {
  background: rgb(193, 191, 255);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-title {
  text-align: center;
}

.edit-success {
  background: var(--night);
  color: var(--energy);
  text-align: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
about
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about {
  background: var(--white-tee);
  color: var(--night);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-p > .col-md-6 {
  background: var(--night);
  color: var(--white-tee);
  padding: 3em 3em 0 3em;
}

.about-p > .col-md-6:nth-child(3) {
  padding-bottom: 3em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.contact > small.text-muted {
  max-width: 480px;
  margin: 2em 0 5em;
  padding: 0 1em;
}

.contact-span-send {
  color: var(--night);
}

.contact-span-github > a {
  color: var(--stain);
}

.form-asterisk {
  color: var(--energy);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.footer {
  background: var(--night);
  min-height: 30vh;
  padding-top: 5em;
  /* position: relative; */
  /* bottom: 0; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer > .container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer > div > div {
  max-width: 700px;
}

.footer div.col-sm.col-sm-2, .footer div.col-sm.col-sm-1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fa-envelope,
.fa-github-alt,
.fa-steam,
.fa-twitch,
.fa-twitter,
.fa-youtube {
  color: var(--white-tee);
  cursor: pointer;
  font-size: 3.7em;
  /* margin: 1.3em 0 0 0; */
  margin-bottom: 0.5em;
  -moz-transition-duration: 1200ms;
  -o-transition-duration: 1200ms;
  -webkit-transition-duration: 1200ms;
  transition-duration-duration: 1200ms;
}

.fa-envelope:hover,
.fa-github-alt:hover,
.fa-steam:hover,
.fa-twitch:hover,
.fa-twitter:hover,
.fa-youtube:hover {
  color: var(--energy);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}

.copy {
  color: var(--white-tee);
  margin: 3em 0.7em 2em;
}

.copy > a {
  color: var(--energy);
}
