
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
fonts
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Montserrat');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
twitter bootstrap css framework
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --night: #0b0c10;
  --slate: #1f2833;
  --dull: #c5c6c7;
  --energy: #66fcf1;
  --stain: #45a29e;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
main style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  /* font-family: 'IBM Plex Sans', sans-serif; */
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
navbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar, .dropdown-menu {
 background: rgba(11, 12, 17, 0.47);
}

.dropdown-menu {
  margin-top: 0.5rem;
}

.dropdown-divider {
  border-color: var(--dull);
}

.dropdown-item {
  color: var(--dull) !important;
}

.dropdown-item:hover, .nav-link:hover {
  background: none;
  color: var(--energy) !important;
}

.navbar-brand {
  color: var(--energy) !important;
}

.navbar-brand:hover {
  transform: scale(0.9);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
header, carousel
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel-inner > div > img {
  height: 100vh;
  /* height: calc(100vh - 56px);
  height: -moz-calc(100vh - 56px);
  height: -o-calc(100vh - 56px);
  height: -webkit-calc(100vh - 56px); */
  /* prevents image distortion */
  object-fit: cover;
  object-position: 50% 50%;
}


/* -------------------- */
.about,
.contact,
.game-create,
.game-edit,
.game-view-all,
.game-view,
.session-login,
.session-signup,
.user-view {
  min-height: 100vh;
  width: 100vw;
}

.about,
.contact,
.session-login,
.session-signup, {
  height: 100vh;
}
/* -------------------- */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
signup
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.session-signup {
  background: var(--energy);
  align-items: center;
  display: flex;
  justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
login
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.session-login {
  background: var(--energy);
  align-items: center;
  display: flex;
  justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
game view(all)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.game-view-all {
  background: var(--slate);
  color: var(--dull);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
game view(single)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.game-view {
  background: rgb(246, 247, 189);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
user profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.user-view {
  background: rgb(255, 223, 254);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
game add/create
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.game-create {
  background: rgb(140, 140, 140);
  align-items: center;
  display: flex;
  justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
game edit
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.game-edit {
  background: rgb(193, 191, 255);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
about
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about {
  background: var(--stain);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about > h1 {
  margin: 2em 0 0 0;
}

.about > p {
  width: 50%;
  color: rgb(40, 39, 39);
  margin: 0;
}

.about > p:nth-child(3) {
  margin-bottom: 7em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.contact {
  background: var(--dull);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact > form {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact > form > div:nth-child(4) {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact > form > div > textarea {
  width: 100%%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.footer {
  background: var(--night);
  min-height: 30vh;
  position: relative;
  bottom: 0;
}

.social-media {
  margin: 2em 3em 0 3em;
}

.fa-github-alt,
.fa-steam,
.fa-twitch,
.fa-twitter,
.fa-youtube {
  color: var(--energy);
  font-size: 3.7em;
  /* margin: 1.3em 0 0 0; */
  margin: 0.5em;
}

.fa-github-alt:hover,
.fa-steam:hover,
.fa-twitch:hover,
.fa-twitter:hover,
.fa-youtube:hover {
  color: var(--stain);
}

.copy {
  color: var(--dull);
  margin: 5em 0 0 0;
}
