<!-- contact -->
<div class="contact" id="contact">
  <div>
    <h1>contact</h1>
    <p>test contact form</p>
  </div>
  <form>
    <!-- first name -->
    <div>
      <input ng-model="main.signupForm.firstname" autocomplete="off" maxlength="30" minlength="2" placeholder="first name" type="text" required>
    </div>
    <!-- last name -->
    <div>
      <input ng-model="main.signupForm.lastname" autocomplete="off" maxlength="30" minlength="2" placeholder="last name" type="text" required>
    </div>
    <!-- email -->
    <div>
      <input ng-model="main.signupForm.email" autocomplete="off" maxlength="50" minlength="5" placeholder="email address" type="email" required>
    </div>
    <!-- message -->
    <div>
      <textarea rows="8" cols="80"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">contact</button>
  </form>
</div> <!-- /.contact -->
