<!-- game add -->
<div class="game-create session" id="game-create">
  <div class="game-view-background"></div>
  <h1>Add Game</h1>
  <form ng-submit="main.create()" class="px-5 py-5">
    <div ng-if="main.errorMessage === true" class="session-error">That game already exists.</div>
    <!-- username -->
    <div class="form-group">
      <label for="username">username</label>
      <input ng-model="main.currentUser" class="form-control" name="username" placeholder="{{main.currentUser}}" type="text" readonly>
    </div>
    <!-- game title -->
    <div class="form-group">
      <label for="game title">game title <span class="form-asterisk">*</span></label>
      <input ng-model="main.createForm.title" class="form-control" autocomplete="off" maxlength="40" minlength="2" placeholder="game title" type="text" required>
    </div>
    <div class="form-row">
      <!-- release year -->
      <div class="form-group col-md-6">
        <label for="release year">release year <span class="form-asterisk">*</span></label>
        <input ng-model="main.createForm.releaseYear" class="form-control" autocomplete="off" min="1958" max="2025" step="1" placeholder="2018" type="number" required>
      </div>
      <!-- genre -->
      <div class="form-group col-md-6">
        <label for="genre">genre <span class="form-asterisk">*</span></label>
        <div class="input-group mb-3">
          <select ng-model="main.createFormGenreSeleted" ng-options="i for i in gameGenreSelection.genre" class="custom-select" required></select>
        </div>
      </div>
    </div>
    <!-- image -->
    <div class="form-group">
      <label for="image url">image url <span class="form-asterisk">*</span></label>
      <input ng-model="main.createForm.image" class="form-control" autocomplete="off" maxlength="500" minlength="5" placeholder="https://i.imgur.com/5S1u1OA.jpg" type="url" required>
    </div>
    <!-- description -->
    <div class="form-group">
      <label for="description">description <span class="form-asterisk">*</span></label>
      <textarea ng-model="main.createForm.description" class="form-control" autocomplete="off" maxlength="5000" minlength="20" rows="8" cols="44" placeholder="Your awesome WASD story of [Game Title]" type="text" required></textarea>
    </div>
    <!-- create button -->
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
  <a>hello, world!</a>
</div> <!-- /.game-create -->
