<!-- footer -->
<div class="footer container-fluid d-flex flex-column justify-content-center" id="footer">
  <!-- class="footer" -->
  <div class="social-media d-flex flex-wrap justify-content-center">
    <i class="fab fa-github-alt"></i>
    <i class="fab fa-steam"></i>
    <i class="fab fa-twitch"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-youtube"></i>
  </div>
  <div class="copy d-flex justify-content-center">
    <p>
      &copy;
      <!-- display current year -->
      <script>
        new Date().getFullYear()>=2018&&document.write(new Date().getFullYear());
      </script>
      <a href="https://github.com/samwhindleton/video-game-app" target="_blank">WASD</a>. all rights reserved.
    </p>
  </div>
</div> <!-- /.footer -->
