<!-- game view(single) / comment / like section -->
<div class="game-view" id="game-view">
  <div>
    <h1>game view(single)</h1>
  </div>
  <!-- title -->
  <div>
    <h1>game title here</h1>
  </div>
  <!-- username -->
  <div>
    <h4>added by</h4>
    <p>username</p>
  </div>
  <!-- release date -->
  <div>
    <p>game release date</p>
  </div>
  <!-- genre -->
  <div>
    <p>game genre</p>
  </div>
  <!-- image -->
  <div>
    <p>game image</p>
  </div>
  <!-- description -->
  <div>
    <p>game description</p>
  </div>
  <!-- user added comments -->
  <div>
    <p>user added comments 1</p>
    <p>user added comments 2</p>
    <p>user added comments 3</p>
  </div>
  <form ng-submit="gameCon.comment()">
    <!-- comments -->
    <div>
      <textarea rows="8" cols="80"></textarea>
    </div>
    <!-- submit button -->
    <button type="submit">submit</button>
  </form>
</div> <!-- /.game-view -->
