<!-- user log in section -->
<div class="session-login" id="session-login">
  <div>
    <div>
      <h1>login</h1>
    </div>
    <form ng-submit="main.login()">
      <div ng-if="main.errorMessage === true" style="color:red">Invalid username or password</div>
      <div>
        <input name="username" ng-model="main.loginForm.username" type="text" placeholder="username" required>
      </div>
      <div>
        <input name="password" ng-model="main.loginForm.password" type="password" placeholder="password" required>
      </div>
      <button type="submit" class="btn btn-primary">login</button>
    </form>

    <div ng-if="main.currentUser">
      Welcome: {{main.currentUser}}!
    </div>
  </div>
</div> <!-- /.session-login -->
